@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary-color-r: 29;
    --primary-color-g: 155;
    --primary-color-b: 240;

    --color-white-r: 255;
    --color-white-g: 255;
    --color-white-b: 255;

    --color-search-r: 240;
    --color-search-g: 238;
    --color-search-b: 246;

    --color-input-r: 0;
    --color-input-g: 0;
    --color-input-b: 0;

    --color-white: rgb(var(--color-white-r), var(--color-white-g), var(--color-white-b));
    --color-light: rgb(240, 238, 246);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: rgb(var(--primary-color-r), var(--primary-color-g), var(--primary-color-b));
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: rgb(21, 32, 43);
    --color-black: hsl(252, 30%, 10%);
    --color-search: rgb(var(--color-search-r), var(--color-search-g), var(--color-search-b));
    --color-input: rgb(var(--color-input-r), var(--color-input-g), var(--color-input-b));
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav .container .menu {
    display: none;

}
.github-icon {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}
.github-icon img {
    height: 1.7rem;
 
}

.left-box .logo {
    margin-right: 1rem;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: block;
    width: 100%;

}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}

.btn-right {
    display: flex;
    justify-content: center;
    width: 7vw;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn-right:hover {
    opacity: 0.8;
}

.btn-primary-right {
    background: var(--color-primary);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

.text-muted-request {
    color: var(--color-gray);
}

/* --------------Navbar-------------------- */

nav {
    width: 100%;
    background-color: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-search);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type="search"] {
    background-color: transparent;
    min-width: 30vw;
    padding-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-input);
}

nav .right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .right-section a img {
    height: 40px;
}

nav label {
    margin-inline: 1rem;
}



/* --------------Main----------------------- */

main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
}

.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-items {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 4rem;
    transition: all 50ms ease;
    position: relative;
    gap: 1rem;
}

.left .sidebar .active h3,
.left .sidebar .active i {
    color: var(--color-primary);
}

.left .sidebar .menu-items:first-child {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.left .sidebar .menu-items:last-child {
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.left .sidebar .menu-items:hover {
    background-color: rgb(245, 245, 245);
}

.left .sidebar i {
    font-size: 1.3rem;
    color: var(--color-gray);
    margin: 0 0.2rem 0 2rem;
    position: relative;
}


/* ============hamburger menu for mobile devices=========== */

.hamburger-wrapper {
    background-color: var(--color-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 3.7rem;
    right: 0.7rem;
    /* display: none; */
    z-index: 100;
    flex-direction: column;
    display: none;
    align-items: left;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0.7rem;
}

.hamburger-menu-items {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 50ms ease;
    gap: 0.3rem;
}



.hamburger-wrapper .active h3,
.hamburger-wrapper .active i {
    color: var(--color-primary);
}





.hamburger-menu-items i {

    color: var(--color-gray);

    position: relative;
}

/* ============bottombar================== */

.bottomwrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--color-dark);
    background-color: var(--color-white);
    display: none;
    align-items: center;
    justify-content: center;

}

.bottombar {
    width: 90vmin;
    color: var(--color-dark);
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 0.9rem;


}

.bottombar .menu-items {
    width: auto;
    position: relative;
    cursor: pointer;
    transition: all 50ms ease;
    margin: 0.5rem 0;

}


.bottombar .menu-items i {

    position: relative;
    font-size: 1.9rem;
    transform: translate(-50%, -50%);
    color: var(--color-gray);

}




.bottombar .active i {
    color: var(--color-primary);
}

.left .btn {
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.7rem 0;
}

.left .notifications-popup {
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    position: absolute;
    left: 20vw;
    top: 0vh;
    white-space: nowrap;
    z-index: 90;
    display: none;
    border: 0.1rem solid var(--color-input);
    box-shadow: 0 0 0.2rem var(--color-input);
    /*later will change it using javascript*/
}

.notification-body {
    margin-left: 1rem;
}

.left .notification-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 1.5rem;

}

.left .notification-message {
    display: block;
}

.left .notifications-popup::before {
    content: "";
    width: 2rem;
    height: 2rem;
    border-bottom: 0.1rem solid var(--color-input);
    display: block;
    background-color: var(--color-white);
    position: absolute;
    left: -0.9rem;
    top: 1.2rem;
    transform: rotate(45deg);
    border-radius: 0.3rem;

}



/* notifications mobile version */


.nav-notifications-popup {
    background: var(--color-white);
    position: fixed;
    margin: auto;
    top: 3.7rem;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    display: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

}

.nav-notification-body {
    margin-left: 1rem;
}

.nav-notification-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 1.5rem;

}

.nav-notification-message {
    display: block;
}

/* .nav-notifications-popup::before {
    content: "";
    width: 2rem;
    height: 2rem;
    border-bottom: 0.1rem solid var(--color-input);
    display: block;
    background-color: var(--color-white);
    position: absolute;
    left: -0.9rem;
    top: 1.2rem;
    transform: rotate(45deg);
    border-radius: 0.3rem;

} */




/* ----------Stories-------------- */

.middle .stories {

    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

.middle .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    margin: 0.2rem;
}

.profile-photo-story {
    width: 3.5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--color-black);
}

.middle .stories .story .name {
    font-size: 0.7rem;
}

.middle .create-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    background-color: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);

}


.middle .create-post input[type=text] {
    justify-self: start;
    width: 100%;
    padding: 0 1rem;
    background-color: transparent;
    color: var(--color-input);
    font-weight: 800;

}

.middle .feeds .feed {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feeds .feed .head {
    display: flex;
    justify-content: space-between;

}

.middle .feeds .feed .head .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.middle .feeds .feed .photo {
    margin: 1rem 0 0.2rem 0;
    overflow: hidden;
}

.middle .feeds .feed .photo img {
    border-radius: var(--card-border-radius);
}

.middle .feeds .feed .action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .feeds .feed .liked-by {
    display: flex;
    align-items: center;
    margin-left: 0.6rem;
}

.middle .feeds .feed .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: var(--border-radius);
    display: block;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .feeds .feed .liked-by p {
    margin-left: 0.4rem;
}

/* --------------Right----------------- */
main .container .right {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;

}

main .container .right .messages {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);

}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1rem;
    margin: 0.2rem 0.7rem;
}

.right .messages .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-search);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding-right: 0.5rem;


}

.right .messages .search-bar input[type="search"] {
    width: 100%;
    background-color: transparent;
    padding: 0.3rem 0.1rem;
    font: 1rem;
    font-weight: 500;
    color: var(--color-input);

}

.right .messages .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--color-white);
    font: 0.85rem;
    margin-bottom: 1rem;
}

.right .messages .category .message-requests {
    color: var(--color-primary);
}

.right .messages .category .active {
    border-color: var(--color-dark);
}

.right .messages .message {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


.right .messages .message:last-child {
    margin-bottom: 0;
}

.right .messages .message p {
    font-size: 0.8rem;
}

.right .messages .message .profile-photo {
    overflow: visible;
}

.right .messages .message .profile-photo img {
    border-radius: 50%;

}

.right .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-success);
    position: relative;
    bottom: 15px;
    right: -35px;

}

/* bottom message wrapper */




.bottom-message-wrapper {
    width: 100%;
    height: 100%;
    z-index: 80;
    position: fixed;
    top: 3.5rem;
    display: none;
}

.bottom-message-wrapper .messages {
    background-color: var(--color-white);
    padding: var(--card-padding);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.bottom-message-wrapper .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.bottom-message-wrapper .messages i {
    font-size: 1rem;
    margin: 0.2rem 0.7rem;
}

.bottom-message-wrapper .messages .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-search);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding-right: 0.5rem;


}

.bottom-message-wrapper .messages .search-bar input[type="search"] {
    width: 100%;
    background-color: transparent;
    padding: 0.7rem 0.1rem;
    font: 1rem;
    font-weight: 500;
    color: var(--color-input);

}

.bottom-message-wrapper .messages .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-message-wrapper .messages .category h6 {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--color-white);
    font: 1rem;
    margin-bottom: 1rem;
}

.bottom-message-wrapper .messages .category .message-requests {
    color: var(--color-primary);
}

.bottom-message-wrapper .messages .category .active {
    border-color: var(--color-dark);
}

.bottom-message-wrapper .messages .message {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


.bottom-message-wrapper .messages .message:last-child {
    margin-bottom: 0;
}

.bottom-message-wrapper .messages .message p {
    font-size: 0.8rem;
}

.bottom-message-wrapper .messages .message .profile-photo {
    overflow: visible;
}

.bottom-message-wrapper .messages .message .profile-photo img {
    border-radius: 50%;

}

.bottom-message-wrapper .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-success);
    position: relative;
    bottom: 15px;
    right: -35px;

}



/* -------------Friend Requests----------- */
.right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h4 {
    color: var(--color-gray);
    margin: 1rem 0;
}

.right .request {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}




.theme-container {

    background-color: rgba(var(--color-white-r), var(--color-white-g), var(--color-white-b), 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    display: none;
    z-index: 110;
}

.theme-box {

    display: grid;
    width: 80vmin;
    gap: 1rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    border: 0.12rem solid var(--color-input);
    padding: 2rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

}

.theme-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;


}

.theme-middle {
    display: grid;
    gap: 1rem;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    justify-content: center;
    place-items: center;

}

.theme-items {
    width: 20vmin;
    border: 0.11rem solid var(--color-input);
    border-radius: 1vmin;
    overflow: hidden;
    cursor: pointer;
}

.theme-items:hover {
    border: 0.12rem solid var(--color-primary);
}

.theme-bottom {
    display: flex;
    align-items: right;
    justify-content: right;
    overflow: hidden;
}

.theme-done {
    background-color: var(--color-primary);
    color: white;
    border-radius: 0.6em;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    /* remove underline */
    -webkit-tap-highlight-color: transparent;
    /* remove click highlight for mobile devices */
    -moz-outline-style: none;
    /* remove click outline for Firefox */
    outline: none;
    /* remove click outline for other browsers */
}



/* --------------Media Queries------------- */

@media screen and (max-width:1250px) {
    .container {
        width: 96%;
    }

    .left .sidebar .menu-items h3 {
        display: none;
    }

    main .container {
        grid-template-columns: 8vw auto 20vw;
        column-gap: 0.8rem;
    }

    main .container .left .profile {
        display: none;
    }

    .text-muted-request {
        font-size: 0.85rem;
    }

    .left label {
        display: none;
    }

    .left .sidebar .menu-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left .sidebar .menu-items .uil {
        margin: auto;
    }
}


@media screen and (max-width:1000px) {
    main .container .right {
        display: none;
    }

    main .container {
        grid-template-columns: 8vw auto 0.5vw;
    }

    .theme-box {
        width: 100vmin;
        border: 0.1rem solid var(--color-input);
    }



    .theme-items {
        width: 25vmin;
    }





    .theme-done {
        padding: 0.5rem 1.2rem;
        font-size: 1.2rem;
    }
}

/* =============loading page================== */

.loading-page {
    position: fixed;
    top: 0;
    z-index: 120;
    /* background-color: var(--color-white); */
    background-color: var(--color-white);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.loading-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    justify-content: center;
}

.loading-page-wrapper .logo h1 {
    font-size: 2.5rem;
    color: var(--color-black);
}

lottie-player {
    width: 25vmin;
    height: 12vmin;

}


@media screen and (max-width:850px) {
    main .container {
        grid-template-columns: 9vw auto 2vw;

    }

}

@media screen and (max-width:750px) {
    main .container {
        grid-template-columns: 10vw auto 2vw;

    }

}

@media screen and (max-width:700px) {
    nav .search-bar {
        display: none;
    }
    .github-icon img {
        height: 1.3rem;
     
    }

    nav .container .left-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    nav .container .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    nav .container .menu i {
        font-size: 1.3rem;
    }

    nav .right-section {
        display: none;

    }

    .bottomwrapper {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        z-index: 100;
        display: flex;
    }

    .theme-box {

        display: grid;
        width: 80vmin;
        gap: 1rem;
        background-color: var(--color-white);
        border-radius: var(--card-border-radius);
        border: 0.12rem solid var(--color-input);
        padding: 1rem 0.8rem;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

    }

    .theme-middle {

        display: grid;
        gap: 0.5rem;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
        justify-content: space-between;
        place-items: center;

    }

    .theme-items {
        width: 33vmin;
        border: 0.07rem solid var(--color-input);
        border-radius: 2vmin;

    }

    .theme-items:hover {
        border: 0.15rem solid var(--color-primary);
    }

    .theme-done {
        border-radius: 0.5rem;
        padding: 0.5rem 1.3rem;
        font-size: 1.1rem;
    }


}

@media screen and (max-width:675px) {
    main .container {
        grid-template-columns: 0 90vmin 0;


    }

    .left .sidebar {
        display: none;
    }

    .container {
        width: 95vmin;
        margin: 0 auto;
    }

    nav .container {
        width: 90vmin;
        margin: 0 auto;
    }
}

@media screen and (max-width:500px) {
    lottie-player {

        height: 20vmin;

    }
}

@media screen and (max-width:400px) {}

@media screen and (max-width:350px) {}